<div class="admin-education-container">
  <div class="container">
    <%= render 'admin/shared/admin_nav' %>
    
    <div class="education-list">
      <div class="education-list__header">
        <div>
          <h2>Ajouter une compétence technique</h2>
          <p class="subtitle">Renseignez les détails de votre nouvelle compétence technique</p>
        </div>
        <div class="header-actions">
          <%= link_to admin_skills_path, class: "animated-action-button" do %>
            <div class="icon-container">
              <i class="fas fa-arrow-left"></i>
            </div>
            <span class="button-text">Retour</span>
          <% end %>
        </div>
      </div>
      
      <%= render 'form', skill: @skill %>
    </div>
  </div>
</div>
