/* line 5, app/assets/stylesheets/_sections.scss */
.section {
  position: relative;
  padding: 3rem 0;
  transition: background-color 1.2s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent !important;
  z-index: 1;
}

/* line 17, app/assets/stylesheets/_sections.scss */
.section h2 {
  position: relative;
  z-index: 2;
  color: inherit;
}

/* line 26, app/assets/stylesheets/_sections.scss */
.section-home {
  z-index: 1;
}

/* line 30, app/assets/stylesheets/_sections.scss */
.section-experience {
  z-index: 1;
}

/* line 34, app/assets/stylesheets/_sections.scss */
.section-education {
  background-color: #c13733;
  color: #eeedec;
}

/* line 39, app/assets/stylesheets/_sections.scss */
.section-skills {
  background-color: #202f66;
  color: #eeedec;
}

/* line 44, app/assets/stylesheets/_sections.scss */
.section-projects {
  background-color: #eeedec;
  color: #202f66;
}
